<article>
    <a href='/dashboard'> &larr; Back To Dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class= 'edit-post-form'>
        <div>
            <input name='post-title' type='text' value='{{post.title}}' />
        </div>
        <div>
            Posted by 
        </div>
    </form>
</article>